@tailwind base;
@tailwind components;
@tailwind utilities;

/* Định nghĩa font-family */
:root {
  --font-ibm-mono: "IBM Plex Mono", monospace;
  --font-ibm-sans: "IBM Plex Sans", sans-serif;
}

/* Mặc định sử dụng font sans */
body {
  font-family: var(--font-ibm-sans), sans-serif;
}

/* Khi cần dùng Mono */
.font-mono {
  font-family: var(--font-ibm-mono), monospace;
}

/* Khi cần dùng Sans */
.font-sans {
  font-family: var(--font-ibm-sans), sans-serif;
}
